* {
    margin: 0;
    padding: 0;
}



html {
    box-sizing: inherit;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body{
    max-height: 100vh;
    font-size: 16px;
}

/*utilities*/

h1 {
    font-size: 30px;
    
}

h2{
    font-size: 25px;
}

p {
    font-size: 22px;
}

label {
    font-size: 20px;
    width: 33rem;
}

/*header*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem;
}

.headerLogo {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.headerLogo img {
    height: 5rem;
}

.header p{
    text-align: center;
}

/*main*/

.contenedorMain {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 0;
    justify-items: center;
    
    
}





.contenedorMain{
    grid-template-columns: repeat(1,1fr);
    row-gap: 4rem;
    
}

.main{
    max-width: 110rem;
    margin: 0 auto;
}




/*section*/




.cont {
    width: 90%;
    height: auto;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contenedor {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedor h2 {
    text-align: center;
}



.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputText{
    padding: 1rem .5rem;
    border-radius: 10px;
}


.botones{
    height: 8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


button{
    cursor: pointer;
    height: 5rem;
    width: 90%;
    border-radius: 10px;
    padding: 1rem .5rem;
    
}

.boton1 , .boton2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc(50% - 3rem); 
    width: 100%;
    
}

@media (min-width:768px ) {
    .contenedorMain{
    grid-template-columns: repeat(2,1fr);

    }

    .triangulo{
        grid-column-start: 1;
        grid-column-end: span 3;
        width: 50%;
    }
}


@media (min-width: 1024px) {

    .cont{

        max-width:46rem ;
        justify-content: none;
    }


}