:root{
    
    --btn: rgb(56, 133, 206);
    --azul: rgb(58, 140, 166);
    --blanco: #fff;
    --negro: #000;
    
}

* {
    margin: 0;
    padding: 0;
}



html {
    box-sizing: inherit;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body{
    
    font-size: 16px;
    background-color: var(--azul);
}

/*utilities*/

h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: var(--blanco);
    
}

h2{
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    color: var(--blanco);
}

h4{
    font-weight: normal;
    text-align: center;
    color: var(--blanco);
}

p {
    font-size: 22px;
    color: var(--blanco);
}

label {
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
}

li{
    list-style: none;
    font-size: 18px;
}

a{
    text-align: center;
    text-decoration: none;
    color: black;
    
}
/*header*/

.header{
    
    margin: 1rem 5rem;
    display: flex;
    border-bottom: 1px solid var(--blanco);;
    align-items: center;
    justify-content: space-between;
    height: 8.4rem;
    
}
.headerLogo img {
    height: 8rem;
}

.dd{
    position: relative;
    display: inline-block;
}

.ddContent{
    display: none;
    position: absolute;
    background-color:#fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
    width: 18rem;
    
}

.ddContent li{  
    width: 100%;
    display: block;
    padding: 2rem 0;
}

.ddContent a{
    color: black;
    padding: 12px 16px;
    display: block;
    width: 100%;
}


.nav__ul .link, .nav__ul .active:hover{
    background-color: #e7e2e2;
}
.ddContent li:hover{
    background-color: #e7e2e2;
}

.dd:hover .ddContent{
    display: block;
    
}

@media (min-width: 768px) {
    .dd:hover .ddContent{
        display: flex;
    }

    .dd svg{
        display: none;
    }

    .header__nav{
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        
    }

    .nav__ul{
        position: static;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        text-align: center;
        box-shadow: none;
        background-color: transparent;
    }

    .nav__ul li{
        padding: 0;
        margin-left: 4rem;
        width:8.2rem;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .nav__ul li a{
        padding: 0;
        display: flex;
        width: auto;
        display: inline-block; 
        height: 30%;
        color: var(--blanco);
        
        
    }

    .nav__ul li .enlace, .nav__ul li .activo:hover{
        font-weight: bold;
        background-color: transparent;
        
    }
    
    .nav__ul .link, .nav__ul .active:hover{
        border-bottom: 2px solid white;
        background-color: transparent;
    }
    
    .nav__ul li:hover{
        border-bottom: 2px solid white; 
        background-color: transparent;
    }
    
    .nav__ul li a:hover{
        font-weight: bold;
        background-color: transparent;
    }
}

/*section*/
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 1rem;
}

.infoHeading {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}


.info h2{
    padding-bottom: 1rem;
}

/*main*/

.elemento{
    width: 100%;
    height: auto;
}

.resultado{
    display: none;
}
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
}

.contenedor p{
    color: var(--negro);
}
.contenedor__opcion{
    display: flex;
    width: 29rem;
    justify-content: space-between;
    
    
}

.contenedor__opcion .opt{
    background-color: var(--blanco);
    
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: rgba( 255, 255, 255, 0.30);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, );
}

.contenedor__opcion .opt button{
    background-color: transparent;
    height: 3.8rem;
    width: 9rem;
    border: none;
    cursor: pointer;
    color:  var(--blanco);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.contenedor__opcion .opt:nth-child(1) .uno {
    background-color: var(--blanco);
    color: var(--btn);
    font-weight: bold;
}

.opt button:hover{
    background-color: var(--blanco);
    color: var(--btn);
    font-weight: bold;
}

.contSmall{
    padding: 1rem 0;
    background-color: var(--blanco);
    margin-bottom: 3rem;
    width: 100%;
    min-width:29rem ;
    height: 40rem;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    justify-content: space-around;
    
    
}

.contSmall .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.contSmall h2{
    color: var(--negro);
}

.contenedor__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18rem;
}


.contenedor__form input{
    width: 90%;
    margin: 1rem auto;
    padding:  1rem;

}

.calcular{
    background-color: var(--btn);
    color: var(--blanco);
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;
}




@media (min-width: 768px) {
    .contenedor{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }

    .resultado{
        display: flex;
        height: 43.8rem;
        border-radius: 7px;
        background: rgba( 255, 255, 255, 0.30);
        box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, );
    }
}

.agrupados{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem auto 4rem auto;
    
    text-align: center;

}

.agrupados a{
    color: rgb(30, 46, 192);
    text-decoration: underline;
}

.agrupados a:hover{
    font-weight: bold;
}

.contenedor2{
    display: none;
}



.contenedor__opcion2{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    min-width: 29rem;
    
    
}

.contenedor__opcion2 .opt{
    margin-left: 1rem;
}
